body{

margin:0;
background:#050505;
color:#00ff9c;
font-family:monospace;

}

.container{

display:flex;
height:100vh;

}

.sidebar{

width:220px;
background:#0a0a0a;
padding:20px;

}

.sidebar h2{

color:#00ff9c;
text-align:center;

}

.sidebar ul{

list-style:none;
padding:0;

}

.sidebar li{

padding:10px;
cursor:pointer;

}

.sidebar li:hover{

background:#111;

}

.main{

flex:1;
padding:40px;

}

.terminal{

background:black;
padding:20px;
border:1px solid #00ff9c;
margin-bottom:30px;

}

.stats{

display:flex;
gap:20px;

}

.card{

background:#0a0a0a;
padding:20px;
border:1px solid #00ff9c;
width:200px;

}