body{

margin:0;
background:#050505;
color:#00ff9c;
font-family:monospace;

}

.container{

display:flex;
height:100vh;

}

.sidebar{

width:220px;
background:#0a0a0a;
padding:20px;

}

.sidebar ul{

list-style:none;
padding:0;

}

.sidebar li{

padding:10px;
cursor:pointer;

}

.sidebar li:hover{

background:#111;

}

.main{

flex:1;
padding:40px;

}

.scp{

cursor:pointer;
margin-bottom:10px;

}

.scp:hover{

color:white;

}

#scp-view{

margin-top:30px;
border:1px solid #00ff9c;
padding:20px;

}